[submodule "postgis-geologic-map"]
	path = postgis-geologic-map
	url = https://github.com/davenquinn/postgis-geologic-map.git
[submodule "mapboard-server"]
	path = mapboard-server
	url = https://github.com/davenquinn/mapboard-server.git
