.picker-list {
  list-style: none;
  line-height: 2;
  padding-left: 0;
  background: var(--background-secondary);
  border: var(--panel-border);
  cursor: pointer;
  border-radius: 6px;
}

.picker-list li {
  border-bottom: var(--panel-border);
  overflow: hidden;
}

.picker-list li:last-child {
  border-bottom: none;
}

.picker-list li a {
  padding: 0.2em 1em;
  display: block;
}

.picker-list li:hover {
  background: var(--background-highlight);
}

.picker-list li.active {
  background: var(--background-active);
}

.picker-list-item {
  padding: 0 0.5em;
  display: flex;
  gap: 0.5em;
}
