# Caddyfile for reverse proxy config
localhost, mapboard.local {
    tls internal

    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
    }

    handle_path /pg-api/* {
        reverse_proxy postgrest:3000 {
            header_down -Access-Control-Allow-Origin
            header_down -Access-Control-Allow-Credentials
            header_down -Access-Control-Allow-Methods
        }
    }

    handle_path /api/* {
        reverse_proxy {$MAPBOARD_API_ADDRESS:"mapboard_server:8080"}
    }

    handle_path /* {
        reverse_proxy docker.host.internal:3002
    }
}
