body
  --background-secondary: var(--panel-background-color)
  --background-highlight: var(--panel-secondary-background-color)
  --background-active: var(--accent-secondary-color)
  --panel-border: 1px solid var(--secondary-color)

.projects-list
  list-style: none
  line-height: 2
  padding-left: 0
  background: var(--background-secondary)
  border: var(--panel-border)

  li
    border-bottom: var(--panel-border)

    &:last-child
      border-bottom: none

    a
      padding: 0.2em 1em
      display: block

      &:hover
        background: var(--background-highlight)

      &.active
        background: var(--background-active)
  border-radius: 6px

